block vars
doctype html

html
  head
    title Auth Course | #{title}
  body
    span
      a(href="/") index 
      a(href="/login") login 
      a(href="/register") register 
      a(href="/dashboard") dashboard 
      a(href="/logout") logout 
    block body